debate_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.autodreamos.com/swarm/debate"
           xmlns="http://www.autodreamos.com/swarm/debate"
           elementFormDefault="qualified">

    <!-- Main Debate Document -->
    <xs:element name="swarm_debate">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="metadata" type="debate_metadata"/>
                <xs:element name="topic" type="debate_topic"/>
                <xs:element name="participants" type="participants"/>
                <xs:element name="arguments" type="arguments"/>
                <xs:element name="voting" type="voting" minOccurs="0"/>
                <xs:element name="conclusion" type="conclusion" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Debate Metadata -->
    <xs:complexType name="debate_metadata">
        <xs:sequence>
            <xs:element name="debate_id" type="xs:string"/>
            <xs:element name="initiated_by" type="xs:string"/>
            <xs:element name="initiated_at" type="xs:dateTime"/>
            <xs:element name="status" type="debate_status"/>
            <xs:element name="coordination_method" type="xs:string"/>
            <xs:element name="deadline" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Debate Status -->
    <xs:simpleType name="debate_status">
        <xs:restriction base="xs:string">
            <xs:enumeration value="initiated"/>
            <xs:enumeration value="active"/>
            <xs:enumeration value="voting"/>
            <xs:enumeration value="concluded"/>
            <xs:enumeration value="cancelled"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Debate Topic -->
    <xs:complexType name="debate_topic">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="context" type="xs:string" minOccurs="0"/>
            <xs:element name="stakeholders" type="xs:string" minOccurs="0"/>
            <xs:element name="impact_assessment" type="impact_assessment"/>
            <xs:element name="proposed_options" type="proposed_options"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Impact Assessment -->
    <xs:complexType name="impact_assessment">
        <xs:sequence>
            <xs:element name="technical_impact" type="xs:string"/>
            <xs:element name="business_impact" type="xs:string"/>
            <xs:element name="operational_impact" type="xs:string"/>
            <xs:element name="risk_level" type="risk_level"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Risk Level -->
    <xs:simpleType name="risk_level">
        <xs:restriction base="xs:string">
            <xs:enumeration value="low"/>
            <xs:enumeration value="medium"/>
            <xs:enumeration value="high"/>
            <xs:enumeration value="critical"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Proposed Options -->
    <xs:complexType name="proposed_options">
        <xs:sequence>
            <xs:element name="option" type="debate_option" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Debate Option -->
    <xs:complexType name="debate_option">
        <xs:sequence>
            <xs:element name="option_id" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="proposed_by" type="xs:string"/>
            <xs:element name="feasibility_score" type="xs:int" minInclusive="1" maxInclusive="10"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Participants -->
    <xs:complexType name="participants">
        <xs:sequence>
            <xs:element name="participant" type="participant" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Participant -->
    <xs:complexType name="participant">
        <xs:sequence>
            <xs:element name="agent_id" type="xs:string"/>
            <xs:element name="specialty" type="xs:string"/>
            <xs:element name="joined_at" type="xs:dateTime"/>
            <xs:element name="contribution_count" type="xs:int" default="0"/>
            <xs:element name="last_contribution" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Arguments -->
    <xs:complexType name="arguments">
        <xs:sequence>
            <xs:element name="argument" type="argument" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Argument -->
    <xs:complexType name="argument">
        <xs:sequence>
            <xs:element name="argument_id" type="xs:string"/>
            <xs:element name="author_agent" type="xs:string"/>
            <xs:element name="timestamp" type="xs:dateTime"/>
            <xs:element name="argument_type" type="argument_type"/>
            <xs:element name="supports_option" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="content" type="xs:string"/>
            <xs:element name="evidence" type="evidence" minOccurs="0"/>
            <xs:element name="counter_arguments" type="xs:string" minOccurs="0"/>
            <xs:element name="confidence_level" type="xs:int" minInclusive="1" maxInclusive="10"/>
            <xs:element name="technical_feasibility" type="xs:int" minInclusive="1" maxInclusive="10"/>
            <xs:element name="business_value" type="xs:int" minInclusive="1" maxInclusive="10"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Argument Type -->
    <xs:simpleType name="argument_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="supporting"/>
            <xs:enumeration value="opposing"/>
            <xs:enumeration value="alternative"/>
            <xs:enumeration value="clarification"/>
            <xs:enumeration value="compromise"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Evidence -->
    <xs:complexType name="evidence">
        <xs:sequence>
            <xs:element name="evidence_type" type="evidence_type"/>
            <xs:element name="source" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="reliability_score" type="xs:int" minInclusive="1" maxInclusive="10"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Evidence Type -->
    <xs:simpleType name="evidence_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="empirical_data"/>
            <xs:enumeration value="expert_opinion"/>
            <xs:enumeration value="historical_precedent"/>
            <xs:enumeration value="logical_reasoning"/>
            <xs:enumeration value="simulation_results"/>
            <xs:enumeration value="benchmark_data"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Voting -->
    <xs:complexType name="voting">
        <xs:sequence>
            <xs:element name="voting_period_start" type="xs:dateTime"/>
            <xs:element name="voting_period_end" type="xs:dateTime"/>
            <xs:element name="vote" type="vote" maxOccurs="unbounded"/>
            <xs:element name="results" type="voting_results" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Vote -->
    <xs:complexType name="vote">
        <xs:sequence>
            <xs:element name="voter_agent" type="xs:string"/>
            <xs:element name="timestamp" type="xs:dateTime"/>
            <xs:element name="chosen_option" type="xs:string"/>
            <xs:element name="rationale" type="xs:string"/>
            <xs:element name="confidence_score" type="xs:int" minInclusive="1" maxInclusive="10"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Voting Results -->
    <xs:complexType name="voting_results">
        <xs:sequence>
            <xs:element name="total_votes" type="xs:int"/>
            <xs:element name="option_results" type="option_result" maxOccurs="unbounded"/>
            <xs:element name="winner" type="xs:string"/>
            <xs:element name="consensus_level" type="consensus_level"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Option Result -->
    <xs:complexType name="option_result">
        <xs:sequence>
            <xs:element name="option_id" type="xs:string"/>
            <xs:element name="vote_count" type="xs:int"/>
            <xs:element name="percentage" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Consensus Level -->
    <xs:simpleType name="consensus_level">
        <xs:restriction base="xs:string">
            <xs:enumeration value="unanimous"/>
            <xs:enumeration value="strong_majority"/>
            <xs:enumeration value="simple_majority"/>
            <xs:enumeration value="split_decision"/>
            <xs:enumeration value="no_consensus"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Conclusion -->
    <xs:complexType name="conclusion">
        <xs:sequence>
            <xs:element name="decision_maker" type="xs:string"/>
            <xs:element name="timestamp" type="xs:dateTime"/>
            <xs:element name="final_decision" type="xs:string"/>
            <xs:element name="rationale" type="xs:string"/>
            <xs:element name="implementation_plan" type="xs:string"/>
            <xs:element name="next_steps" type="next_steps"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Next Steps -->
    <xs:complexType name="next_steps">
        <xs:sequence>
            <xs:element name="action_item" type="action_item" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Action Item -->
    <xs:complexType name="action_item">
        <xs:sequence>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="assigned_to" type="xs:string"/>
            <xs:element name="deadline" type="xs:dateTime"/>
            <xs:element name="priority" type="priority_level"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Priority Level -->
    <xs:simpleType name="priority_level">
        <xs:restriction base="xs:string">
            <xs:enumeration value="critical"/>
            <xs:enumeration value="high"/>
            <xs:enumeration value="medium"/>
            <xs:enumeration value="low"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
